/*
    Visual Database Generator - Database Modeling and Generation
    Copyright (C) 2017  Joseph Pomerleau, Joshua Cole,
                        Dominic Sero-Asturi, Nicholas Teslovich
    See /src/main/java/vdbgen/Main.java for full notice.
*/

* {
    /* Looked up colors */
    darkgrey: #2a2c2b;
    bluegrey: #374140;
    beige: #D9CB9E;
    orange: #DC3522;
}

.root {}

#diagramArea {
    -fx-background-color: #aaa;
}

.menu-bar,
.menu-bar .menu,
.menu-bar .menu-item,
.menu-bar .menu .context-menu {
    -fx-text-fill: white;
    -fx-background-color: darkgrey;
}

.menu-bar .menu .context-menu {
    -fx-min-width: 100px;
}

.menu-bar .menu .label {
    -fx-text-fill: white;
}

.menu-bar .menu:hover,
.menu-bar .menu:showing,
.menu-bar .menu-item:hover {
    -fx-background-color: orange;
}


/*
 * Toolbar
 */
#toolbar {
    -fx-padding: 10px 15px;
    -fx-background-color: bluegrey;
    -fx-spacing: 8px;
}

#toolbar .button {
    -fx-background-color: darkgrey;
    -fx-text-fill: white;
    -fx-border-color: #999;
    -fx-font-weight: bold;
    -fx-padding: 10px 15px;
    -fx-background-radius: 0;
}

#toolbar .button:hover {
    -fx-background-color: bluegrey;
}

#toolbar .combo-box {
    -fx-background-color: darkgrey;
    -fx-border-color: #999;
    -fx-padding: 6px 10px;
    -fx-background-radius: 0;
}

#toolbar .combo-box:hover {
    -fx-background-color: bluegrey;
}


/*
 * Status bar
 */
#statusBar {
    -fx-border-width: 2px 0 0;
    -fx-border-color: bluegrey;
    -fx-background-color: darkgrey;
}

#statusBar .label {
    -fx-text-fill: #aaa;
    -fx-padding: 2px 4px;
}

/*
 * Error popups
 */
.context-menu-title:disabled {
    -fx-opacity: 1.0;
    -fx-border-width: 0 0 1px;
    -fx-border-color: black;
}

.context-menu-title:disabled .label {
    -fx-opacity: 1.0;
}

.context-menu-title:disabled:hover {
    -fx-background-color: white;
}

.context-menu-title:disabled:hover .label {
    -fx-background-color: white;
    -fx-text-fill: black;
}

.error-item,
.error-item label {
    -fx-font-size: 90%;
}