/*
    Visual Database Generator - Database Modeling and Generation
    Copyright (C) 2017  Joseph Pomerleau, Joshua Cole,
                        Dominic Sero-Asturi, Nicholas Teslovich
    See /src/main/java/vdbgen/Main.java for full notice.
*/

* {
    /* Looked up colors */
    darkgrey: #2a2c2b;
    bluegrey: #374140;
    beige: #D9CB9E;
    orange: #DC3522;
}

/*
 * Button classes
 */

.add-btn,
.delete-btn {
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-padding: 2px 10px;
}

.delete-btn  {
    -fx-background-color: #FFBFBF;
    -fx-text-fill: #FFFFFF;
}

.delete-btn:hover {
    -fx-background-color: #FF2626;
}

.delete-btn:pressed {
    -fx-background-color: #D90000;
}

.add-btn {
    -fx-background-color: #ddd;
    -fx-text-fill: #333;
}
.add-btn:hover {
    -fx-background-color: #d3d3d3;
}
.add-btn:pressed {
    -fx-background-color: #cecece;
}


/*
 * Diagram
 */
.diagram-area {
    -fx-background-color: #aaa;
}

.diagram-document {
    -fx-background-color: #fff;
}

/*
 * Entity
 */
.entity-container {
    -fx-background-color: #eee;
    -fx-border-width: 1px;
    -fx-border-color: #aaa;
}

.entity-container.selected {
    -fx-border-color: bluegrey;
}


.entity-header {
    -fx-background-color: #f3f3f3;
    -fx-padding: 15px 10px 10px;
    -fx-border-width: 0 0 1px;
    -fx-border-color: #ccc;
    -fx-hgap: 10px;
}

.entity-container.selected .entity-header {
    -fx-background-color: #fff;
    -fx-border-color: bluegrey;
}

.entity-header .text-field {
    -fx-border-width: 1px;
    -fx-border-color: transparent;
    -fx-padding: 2px 4px;
    -fx-background-radius: 0;
    -fx-background-insets: none;
    -fx-background-color: transparent;
    -fx-font-size: 14px;
}
.entity-header .text-field:hover,
.entity-header .text-field:focused {
    -fx-background-color: #eee;
}
.entity-header .text-field.editing:focused {
    -fx-background-color: #e3e3e3;
}

.attributes-container {
    -fx-padding: 2px 2px 20px;
    -fx-spacing: 2px;
}


/*
 * Attribute
 */
.entity-container.selected .fields-container {
    -fx-background-color: white;
}

.fields-container {
    -fx-background-color: #f5f5f5;
    -fx-padding: 5px;
    -fx-spacing: 5px;
    -fx-hgap: 5px;
    -fx-border-width: 1px;
    -fx-border-color: transparent;
}

.fields-container.selected {
    -fx-border-color: bluegrey;
}

.fields-container .text-field {
    -fx-min-width: 80px;
    -fx-border-width: 0;
    -fx-padding: 2px 4px;
    -fx-background-radius: 0;
    -fx-background-insets: none;
    -fx-background-color: transparent;
    -fx-font-size: 12px;
    -fx-alignment: center-left;
}
.fields-container .text-field:focused,
.fields-container .text-field:hover {
    -fx-background-color: #eee;
}

.fields-container .check-box {
    -fx-font-size: 10px;
}
.fields-container .check-box:selected {
    -fx-font-weight: bold;
}

.fields-container .label {
    -fx-alignment: bottom-center;
    -fx-font-size: 10px;
    -fx-font-weight: bold;
    -fx-min-width: 14px;
}

.fields-container .combo-box .list-cell {
    -fx-font-weight: bold;
    -fx-font-size: 10px;
    -fx-padding: 5px 3px;
    -fx-alignment: center;
}

.fields-container .combo-box .arrow,
.fields-container .combo-box .arrow-button {
    -fx-background-color: transparent;
}

.fields-container .combo-box .arrow-button {
    -fx-padding: 0 0 0 -7;
}

.fields-container .delete-btn {
    -fx-font-size: 10px;
    -fx-padding: 2px 5px;
}

/*
 * Selection Box
 */
.selection-box {
    -fx-fill: rgba(80, 100, 200, 0.4);
}

/*
 * Relationship Line
 */
.relationship-line {
    -fx-stroke: black;
    -fx-stroke-width: 3px;
    -fx-stroke-line-cap: round;
}
.relationship-line.selected {
    -fx-stroke: lightseagreen;
    -fx-stroke-width: 3px;
    -fx-stroke-line-cap: round;
}

/*
 * Errors
 */
.text-field.error {
    -fx-border-color: red;
    -fx-border-width: 1px;
}